SUPABASE_PROJECT_ID=sfieqzdjdloaxauaphaj
SUPABASE_PUBLISHABLE_KEY=sb_publishable_g3CktFRN1fAu1aChULNkpQ_UauAPFcm
SUPABASE_URL=https://sfieqzdjdloaxauaphaj.supabase.co/rest/v1/


VITE_SUPABASE_PROJECT_ID=sfieqzdjdloaxauaphaj
VITE_SUPABASE_URL=sb_publishable_g3CktFRN1fAu1aChULNkpQ_UauAPFcm
VITE_SUPABASE_PUBLISHABLE_KEY=https://sfieqzdjdloaxauaphaj.supabase.co/rest/v1/


